//
//  Debug.xcconfig
//  NewsFlash
//
//  Created by Bishoy Badie on 26/08/2025.
//

// Configuration settings file format documentation can be found at:
// https://help.apple.com/xcode/#/dev745c5c974

// Ignore personal config with secrets *.xcconfig

GNEWS_API_KEY = 3105f36d2bf3983863151850255206b8
